beautifulsoup4
gensim
inflect
gitpython
matplotlib
networkx
nltk
numpy
pandas
Pillow
plotly
pyLDAvis==2.1.2
requests
scikit_learn
setuptools
six
streamlit
textblob
torch
tqdm
transformers
vaderSentiment
wordcloud
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
